body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 150px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}
